<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name :avatar %>
  </p>

  <p>
    <strong>Year level:</strong>
    <%= student.year_level :avatar %>
  </p>

  <p>
      <strong>Avatar:</strong>
      <%= image_tag user.avatar %>
  </p>

</div>
